<h1>Edit</h1>
<header>
  <%= link_to business_path(@business) do %>
  <i class="fas fa-arrow-alt-circle-left" , id="back-arrow"></i>
  <% end %>
  <h1 id="visitors-title">Emergency Wiki</h1>
  <%= image_tag "emergency-wiki-logo.png", id:"logo" %>
</header>


<div class="update-business-container">
  <h2 class="new-business-title">Update Your Info</h2>

  <div class="add-business-form">
    <%= simple_form_for @business do |f| %>
      <%= f.association :category, as: :radio_buttons %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :comment %>
    <div class="flexbox" id="btn-green">
      <%= f.submit class: "button-medium-green" %>
    </div>
    <% end %>
  </div>
</div>
