<header>
  <%= link_to root_path do %>
    <i class="fas fa-arrow-alt-circle-left", id="back-arrow"></i>
    <% end %>
    <h1 id="visitors-title">Emergency Wiki</h1>
    <%= image_tag "emergency-wiki-logo.png", id:"logo" %>
</header>
<div class="content-container">
  <h2>business index</h2>
<div>
  <% @businesses.each do |business|%>
    <%= link_to(business_path(business)) do %>
      <div>
        <%= business.name %>
        <p>distance</p>
        <p>Open Until: <%= business.schedules.first.closes.strftime("%H:%M") %> on <%= business.schedules.first.closes.strftime("%d %B") %></p>
      </div>
    <% end %>
  <% end %>
 </div>
</div>



