<header>
  <%= link_to home_path do %>
  <i class="fas fa-arrow-alt-circle-left" , id="back-arrow"></i>
  <% end %>
  <h1 id="visitors-title">Emergency Wiki</h1>
  <%= image_tag "emergency-wiki-logo.png", id:"logo" %>
</header>

<div class="business-index-container">
  <div class="business-cards-container">
    <% @businesses.each do |business|%>
    <%= link_to(business_path(business)) do%>
    <div class="businesses-cards" id="business-<%= business.id  %> ">
      <div class="businesses-cards-info">
        <h5 style="font-size: 22px;"><%= business.name %></h5>
        <p style="font-size: 18px; color: white; text-shadow: none; font-weight: normal;"><%= business.address %></p>
        <p style="font-size: 18px; color: white; text-shadow: none; font-weight: normal;">Open Until:
         <% if !business.schedules.empty? %>
          <%= business.schedules.first.closes.strftime("%H:%M") %> on
          <%= business.schedules.first.closes.strftime("%d %B") %></p>
        <% end %>
      </div>
      <div class="businesses-cards-km">
        <%= business.distance_from(@coordinates) %>
      </div>
    </div>
    <% end%>
  <% end %>
  </div>
  <div class="map-container-index" id="delaymap" style="visibility:hidden;">
    <%= render 'shared/map' %>
  </div>
</div>

<script>
  setTimeout(function () {
    document.getElementById('delaymap').style.visibility = "visible";
  }, 1000);
</script>
