<header>
  <%= link_to 'javascript:history.go(-1);' do %>
    <i class="fas fa-arrow-alt-circle-left", id="back-arrow"></i>
  <% end %>
  <h1 id="visitors-title">Emergency Wiki</h1>
  <%= link_to "Back to Home", root_path, class: "back-to-home-button" %>
</header>
<div class="show-content-container">
  <div class="show-info">
    <div class="show-info-flex">
      <div class="show-info-description">
        <h1><%= @business.name %></h1>
        <h3><%= @business.address %></h3>
        <p> Open until <%= @business.schedules.first.closes.strftime("%H:%M") %> </p>
        <h3><%= @business.phone_number %><h3>
        <h3>Call Now!</h3>
      </div>
      <div class="show-info-logo">
        <%= image_tag @business.category.image, class: "show-image" %>
      </div>
    </div>
    <div class="show-button">
      <div class="button-big-red">
        <h5>Call now!</h5>
      </div>
    </div>
  </div>
  <div class="show-map">
    <%= render 'shared/map' %>
  </div>
</div>
