<header>
  <% if current_user.present? %>
    <%= link_to my_businesses_path(@business) do %>
        <i class="fas fa-arrow-alt-circle-left", id="back-arrow"></i>
    <% end %>
  <% else %>
    <%= link_to 'javascript:history.go(-1);' do %>
      <i class="fas fa-arrow-alt-circle-left", id="back-arrow"></i>
    <% end %>
  <% end %>
  <h1 id="visitors-title">Emergency Wiki</h1>
  <%# if current_user.present? %>
  <%#= link_to "", root_path %>
  <%# else %>
    <%#= link_to root_path, class: "back-to-home-button" do %>
      <!-- <i class="fas fa-home"></i> -->
    <%# end %>
  <%# end %>
</header>
<div class="show-content-container">
  <div class="show-info">
    <div class="show-info-flex">
      <div class="show-info-description">
        <h1 id="show-title"><%= @business.name %></h1>
        <h3 id="show-address"><%= @business.address.split(', ').first %></h3>
        <h3 id="show-address"><%= @business.address.split(', ').last %></h3>
        <p style="padding-bottom: 10px; padding-top: 10px;">Note: <%=  @business.comment%> </p>
        <% unless @business.schedules.empty? %>
        <% if current_user.present? %>
        <ul class="list-group">
          <% @business.schedules.each do |schedule| %>
              <p style="font-size: 18px"> - Opens: <%= schedule.opens.strftime("%Hh%M") %>, <%= schedule.opens.strftime(("%A  %e   %B  %Y ")) %></p>
              <p style="font-size: 18px"> - Closes: <%= schedule.closes.strftime("%Hh%M") %>, <%= schedule.closes.strftime(("%A  %e   %B  %Y  ")) %></p>
              <%= link_to "Remove", schedule_path(schedule), method: :delete, data: { confirm: "Are you sure?" }, class: "button-small-green" %>
                <br>
          <% end %>
        </ul>
        <% else %>
          <p>Open until: <%= @business.schedules.first.closes.strftime("%Hh%M") %></p>
        <% end %>
        <% end %>

        <h3 id="phone-number-show"><%= @business.phone_number %><h3>
      </div>
      <div class="show-info-logo">
        <%= image_tag @business.category.image, class: "show-image" %>
      </div>
    </div>
    <% if current_user.present? %>
   
      <%= link_to "Edit", edit_business_path(@business), class: "button-big-green", style: "font-size: 24px; color: white; font-weight: bold; margin: 20px;" %>
      <%= link_to "Add schedule", new_business_schedule_path(@business), class: "button-big-green", style: "font-size: 24px; color: white; font-weight: bold;" %>
    <% else %>
        <%= tel_to "Call Now!", @business.phone_number, class: "button-big-red", id: "blinking-show" %>
    <% end %>
  </div>
  <div class="show-map" id="delaymap" style="visibility:hidden;">
    <%= render 'shared/map' %>
      <a class="button-small-red" id="gps-button" href="https://www.google.ch/maps/place/<%= @business.address.gsub(/[ ]/, '+') %>">GPS Guidance</a>
  </div>
</div>

<script>
  setTimeout(function () {
    document.getElementById('delaymap').style.visibility = "visible";
  }, 1000);
</script>
