<div class="container text-center">

  <h1 id="welcome-user"> Welcome, <%= @user.username %> </h1>
  <div class="margin-button">
    <%= link_to "Add A New Business", new_user_business_path(@user), class: "manage" %>
  </div>
</div>
<div class="user-business-grid">
  <% @business.each do |business| %>
    <div class="user-businesses-cards">
      <div class="user-business-cards-info">
        <h5><%= business.name %></h5>
        <p><%= business.address.split(', ').first %> </p>
        <p><%= business.address.split(', ').last %></p>
      </div>
      <div class="user-businesses-cards-logo">
        <%= image_tag business.category.image, class: "users-business-image" %>
        <%= link_to "Update", business_path(@user), class:"user-update-btn" %>
      </div>
    </div>
  <% end %>
</div>

