<div class="content-container">
  <h1>Signin</h1>
  <form>
    <%= simple_form_for @user do |f| %>
      <%= f.input :email, placeholder: 'user@domain.com'  %>
      <%= f.input :username, label: 'Your username please', error: 'Username is mandatory, please specify one' %>
      <%= f.input :encrypted_password %>
      <%= f.input :reset_password_token %>
      <%= f.input :remember_me %>
      <%= f.button :submit %>
    <% end %>

  </form>

</div>

