<%= render 'shared/header' %>
  <div class="home-search-container">
    <%= form_with url: businesses_path, method: :get, class: 'algolia-form' do |form| %>
    <%= text_field_tag :query, params[:query], placeholder: "Input the Location"%>
    <div class="category-boxes">
      <% @categories.each do |category| %>
      <div class="category-cards">
        <div class="category-cards-info">
          <%= form.radio_button :category, category.id %>
          <%= form.label :doctor, category.name, style: "font-size: 30px;" %>
        </div>
        <div class="category-cards-logo">
          <%= image_tag category.image , class: "category-image" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="button-centered">
          <%= form.submit "Search", class: "button-big-red"%>
    </div>
    <% end %>
  </div>
