<%= render 'shared/header' %>
<div class="content-container">
  <%= form_with url: businesses_path, method: :get do |form| %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Input the Location"
  %>
  <%= form.radio_button :category, "Doctor" %>
  <%= form.label :doctor, "Doctor" %>
  <%= form.radio_button :category, "Dentist" %>
  <%= form.label :dentist, "Dentist" %>
  <%= form.radio_button :category, "Veterinaire" %>
  <%= form.label :veterinaire, "Veterinaire" %>
  <%= form.radio_button :category, "Pharmacy" %>
  <%= form.label :pharmacy, "Pharmacy" %>
  <%= form.submit "Search", class: "button-medium-green"%>
<% end %>
</div>
