<%= render 'shared/header' %>
  <div class="home-search-container">
    <%= form_with url: businesses_path, method: :get, class: 'algolia-form' do |form| %>
      <span class="search">
        <%= text_field_tag :query, params[:query], placeholder: "Input the Location"%>
        <%= select_tag :km, options_for_select([['5km', 5],['10km', 10], ['20km',20], ['30km',30], ['50km', 50]]), class: "form-control", id: "km" %>
      </span>
      <div class="category-boxes">
        <% Category.all.each do |category| %>
          <div class="category-cards">
            <div class="category-cards-info">
              <label>
                <input  class="category-cards-radio" type="radio" name="category" value="<%= category.id %>">
                <%= category.name %>
              </label>
            </div>
            <div class="category-cards-logo">
              <%= image_tag category.image , class: "category-image" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="button-centered">
        <%= form.submit "Search", class: "button-big-red"%>
      </div>
    <% end %>
  </div>
